<ion-view title ="" style="background-color:rgba(7,0,79,0.73);">

  <ion-content class="content">
    <h1 class="welcome">Yo</h1>
    <h1 class="welcome">I'm your friend.</h1>
    <h1 class="welcome">Call me Mr. Emoji.</h2>
    <h2 class="welcome">&#128526;</h2>

    <ol class="messages list">
      <li ng-repeat="message in vm.messages">
        <p>
          {{message.content}} <i ng-bind-html="message.emoji"></i>
        </p>
      </li>
    </ol>
</ion-content>

<ion-footer-bar class="bar-stable item-input-inset">
    <label class="item-input-wrapper">
      <input type="text" placeholder="Message..." ng-enter="vm.sendMessage()" ng-model="vm.message" constant-focus id="myInputField" type="hidden">
    </label>

    <button class="button iconsend" ng-click="vm.sendMessage()">Send</button>
</ion-footer-bar>
</ion-view>
