<ion-view title="Chat" id="chat" style="background-color:#54CAFC;" class=" ">
  <ion-content>
    <ul>
      <li ng-repeat="message in vm.messages" >
        {{message.content}}
      </li>
    </ul>

  </ion-content>

  <ion-footer-bar keyboard-attach class="bar-stable item-input-inset">
      <label class="item-input-wrapper">

        <span class="input-label">Chat</span>
        <input type="text" placeholder="BANANANAS!!!!" ng-enter="vm.sendMessage()" ng-model="vm.message">
      </label>

      <button class="button iconsend" ng-click="vm.sendMessage()">Send</button>
  </ion-footer-bar>

</ion-view>
