<ion-view title="Diary" id="diary" style="background-color:#54CAFC;" class=" ">
    <ion-content padding="true" style="background: url(img/f3gUKPiGSha0R1GrvajO_final%2520ducks_bg.png) no-repeat center;background-size:cover;" class="has-header">
        <ion-list id="diary-list2" class=" ">
            <ion-item class="item-avatar dark  " id="diary-list-item2">
                <h2dark>Name
                    <p>Birthday</p>
                </h2dark>
            </ion-item>
            <ion-item class="item-thumbnail-left dark  " id="diary-list-item1">
                <h2dark>Last 3 posts</h2dark>
            </ion-item>
            <label class="item item-input" name="Search by date">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="search" placeholder="">
            </label>
        </ion-list>
    </ion-content>
</ion-view>
