<ion-view title="Login" id="login" style="background-color:#54CAFC;" class=" ">
    <ion-content padding="true" style="background: url(img/WnMbZmV1Q4FzUBpUpKNZ_final%2520ducks_bg.png) no-repeat center;background-size:cover;" class="has-header">
        <form id="login-form9" class="list ">
            <ion-list id="login-list4" class=" ">
                <label class="item item-input " id="login-input6">
                    <span class="input-label">Username</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-input " id="login-input7">
                    <span class="input-label">Password</span>
                    <input type="password" placeholder="">
                </label>
            </ion-list>
            <div class="spacer" style="height: 40px;"></div>
            <button id="login-button2" class=" button button-stable  button-block ">Log in</button>
            <a href="#" onclick="window.open('/signup', '_system', 'location=yes'); return false;" id="login-button3" class=" button button-positive  button-block button-clear ">Or create an account</a>
        </form>
    </ion-content>
</ion-view>
