<ion-view title="Signup" id="signup" style="background-color:#54CAFC;" class=" ">
    <ion-content padding="true" style="background: url(img/QeWTBiATRr6PpDQ6a2gD_final%2520ducks_bg.png) no-repeat center;background-size:cover;" class="has-header">
        <form id="signup-form8" class="list ">
            <ion-list id="signup-list3" class=" ">
                <label class="item item-input " id="signup-input4">
                    <span class="input-label">Username</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-input " id="signup-input5">
                    <span class="input-label">Password</span>
                    <input type="text" placeholder="">
                </label>
            </ion-list>
            <button id="signup-button1" class=" button button-stable  button-block ">Sign up</button>
        </form>
    </ion-content>
</ion-view>
